<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- Categories Sidebar -->
    <div class="col-md-3 col-lg-2 bg-light p-3" *ngIf="selectedInvoice === ''">
      <h5 class="mb-3">Categories</h5>
      <div class="list-group">
        <button
          class="list-group-item list-group-item-action"
          [class.active]="selectedCategory === ''"
          (click)="changeCategory('')"
        >
          All Products
        </button>
        <button
          *ngFor="let category of categories"
          class="list-group-item list-group-item-action"
          [class.active]="selectedCategory === category"
          (click)="changeCategory(category)"
        >
          {{ category }}
        </button>
      </div>
    </div>

    <!-- Main Content Area Products -->
    <div
      class="col-md-6 col-lg-7"
      *ngIf="selectedInvoice === ''"
      [class.col-md-9]="selectedInvoice !== ''"
      [class.col-lg-10]="selectedInvoice !== ''"
    >
      <!-- Header with Cart -->
      <div
        class="d-flex justify-content-between align-items-center mb-4 p-3 bg-white shadow-sm rounded"
      >
        <h2 class="mb-0">
          Sports Store <i class="fa-solid fa-futbol text-primary"></i>
        </h2>
        <div class="d-flex align-items-center">
          <button
            mat-raised-button
            color="primary"
            class="me-4"
            (click)="showProductForm()"
          >
            Add new product
          </button>
          <app-cart-summary></app-cart-summary>
        </div>
      </div>

      <!-- Products Grid -->
      <ng-container *ngIf="!showPform">
        <div class="row">
          <div
            class="col-lg-3 col-md-4 col-sm-6 mb-4"
            *ngFor="let product of products"
          >
            <app-product-card
              [product]="product"
              (productAdded)="addProductToCart($event)"
            >
            </app-product-card>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="showPform">
        <app-product-form (closeForm)="showPform = false"></app-product-form>
      </ng-container>
      <!-- Pagination -->
      <ng-container *ngIf="!showPform">
        <div class="d-flex justify-content-center mt-4" *ngIf="totalPages > 1">
          <nav>
            <ul class="pagination">
              <li class="page-item" [class.disabled]="selectedPage === 1">
                <button
                  class="page-link"
                  (click)="changePage(selectedPage - 1)"
                >
                  Previous
                </button>
              </li>
              <li
                class="page-item"
                *ngFor="let page of getPages()"
                [class.active]="page === selectedPage"
              >
                <button class="page-link" (click)="changePage(page)">
                  {{ page }}
                </button>
              </li>
              <li
                class="page-item"
                [class.disabled]="selectedPage === totalPages"
              >
                <button
                  class="page-link"
                  (click)="changePage(selectedPage + 1)"
                >
                  Next
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </ng-container>
    </div>

    <app-invoices-list-component
      class="col-md-9 col-lg-10"
      *ngIf="selectedInvoice === 'list-of-invoices'"
    ></app-invoices-list-component>
    <app-invoice-form-component
      class="col-md-9 col-lg-10"
      *ngIf="selectedInvoice === 'invoice-form'"
    ></app-invoice-form-component>
    <app-annual-report-component
      class="col-md-9 col-lg-10"
      *ngIf="selectedInvoice === 'annual-report'"
    ></app-annual-report-component>
    <!-- Right Sidebar for invoices -->
    <div class="col-md-3 col-lg-2 bg-light p-3">
      <h5 class="mb-3">Navigation</h5>

      <!-- Back to Products Button -->
      <div class="list-group mb-3" *ngIf="selectedInvoice !== ''">
        <button
          class="list-group-item list-group-item-action"
          [class.active]="selectedInvoice === ''"
          (click)="changeInvoice('')"
        >
          <i class="fas fa-arrow-left me-2"></i>
          Back to Products
        </button>
      </div>

      <h6 class="mb-3">Invoices</h6>
      <div class="list-group">
        <button
          class="list-group-item list-group-item-action"
          [class.active]="selectedInvoice === 'annual-report'"
          (click)="changeInvoice('annual-report')"
        >
          Annual Report
        </button>
      </div>
      <div class="list-group">
        <button
          class="list-group-item list-group-item-action"
          [class.active]="selectedInvoice === 'invoice-form'"
          (click)="changeInvoice('invoice-form')"
        >
          Invoice Form
        </button>
      </div>
      <div class="list-group">
        <button
          class="list-group-item list-group-item-action"
          [class.active]="selectedInvoice === 'list-of-invoices'"
          (click)="changeInvoice('list-of-invoices')"
        >
          List of Invoices
        </button>
      </div>
    </div>
  </div>
</div>
